@media screen and (max-width: 600px) {
  .nav-bottom {
    display: hidden;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    ul {
      display: flex !important;
      justify-content: space-evenly;
      a {
        font-size: 1.5rem !important;
      }
    }
  }

  .cart-count {
    color: #eea12d;
    background: #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin-left: -5px !important;
    margin-bottom: 1000px !important;
    /* border: 1px solid red; */
    position: relative;
    bottom: 12px;
  }

  .space {
    margin-bottom: 50px !important;
  }

  header {
    .hero {
      .hero-img {
        margin: 1.5rem 0;
        img {
          display: block;
          width: 100%;
        }
      }
      .hero-msg {
        h1 {
          font-size: 2.8rem;
          color: $primary-color;
          font-weight: bold;
        }
        p {
          font-size: 1.5rem;
          padding-bottom: 1.2rem;
        }
      }
      .hero-action {
        .my-btn {
          // background: $primary-color;
          // background: rgb(72, 109, 50);
          // background: linear-gradient(
          //   166deg,
          //   rgba(72, 109, 50, 1) 0%,
          //   rgba(240, 164, 47, 1) 100%
          // );
          background: rgb(240, 164, 47);
          background: linear-gradient(
            166deg,
            rgba(240, 164, 47, 1) 0%,
            rgba(72, 109, 50, 1) 100%
          );
          color: $white;
          text-align: center;
          font-size: 1.5rem;
          &:hover {
            background: $secondary-color;
          }
        }
      }
    }
  }

  #grocery-list {
    h3 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: $secondary-color;
      text-transform: uppercase;
      margin: 0;
      padding: 0 0 20px 0;
    }
    // .my-card {
    //   cursor: pointer;
    //   padding: 10px;
    //   /* margin: 50px; */
    //   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
    //   margin-bottom: 20px !important;
    //   &:hover {
    //     padding: 10px;
    //     box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) !important;
    //   }
    //   .my-card-img {
    //     display: block;
    //     width: 100%;
    //   }
    //   .my-card-title {
    //     h4 {
    //       font-size: 1.5rem;
    //       color: $primary-color;
    //       margin: 10px 0 10px 0;
    //     }
    //   }
    //   .my-card-content {
    //     p {
    //       font-size: 1.2rem;
    //       font-weight: bold;
    //       color: $secondary-color;
    //       margin: 10px 0 10px 0;
    //     }
    //   }
    //   .my-btn {
    //     color: $white;
    //     background: $secondary-color;
    //     &:hover {
    //       background: $primary-color;
    //     }
    //   }
    // }
  }
}
