header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 64px);
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  flex: 1;
  /* border: 1px solid red; */
}

.hero-msg {
  margin: 0 50px;
}

.hero-img {
  margin: 0 50px;
}

.hero-msg h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #eea12d;
}

.hero-msg P {
  line-height: 2rem;
  margin: 70px 0;
}

.hero-msg .my-btn {
  background: #eea12d;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
}

.hero-msg .my-btn i {
  padding: 0 20px;
  font-size: 1.5rem;
}

.hero-msg .my-btn:hover {
  background: #4f7139 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
}

.hero-img img {
  display: block;
  width: 100%;
}
