* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0;
}

.container {
  margin: 0 auto !important;
  padding: 0 !important;
  /* width: 100% !important; */
}

.space {
  margin-bottom: 50px !important;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.5rem !important;
}

.cart-count {
  color: #eea12d;
  background: #ffffff;
  border-radius: 50%;
  padding: 4px;
  margin-left: -5px !important;
  margin-bottom: 1000px !important;
  /* border: 1px solid red; */
  position: relative;
  bottom: 12px;
}

.nav-bottom ul {
  display: flex !important;
  justify-content: space-evenly;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: calc(100vh - 56px) !important;
  margin-top: 0;
  margin-bottom: 0;
}

/* .hero { */
/* flex: 1; */
/* border: 1px solid red; */
/* } */

.hero-msg {
  margin: 70px 0 0 0 !important;
}

.hero-msg h1 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #eea12d;
  /* padding-bottom: 10px; */
}

.hero-msg P {
  line-height: 2rem;
  padding: 30px 0;
  text-align: justify;
}

.hero-msg .my-btn {
  background: #eea12d;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
}

.hero-msg .my-btn i {
  padding: 0 20px;
  font-size: 1.5rem;
}

.hero-msg .my-btn:hover {
  background: #4f7139 !important;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
}

.hero-img img {
  display: block;
  width: 100%;
}

.hero-img {
  order: 1;
}

.hero-msg {
  order: 2;
}

/* Grocery List */
#grocery-list {
  margin-bottom: 20px;
}

#grocery-list h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4f7139;
  text-transform: uppercase;
  padding-bottom: 20px;
  /* border: 1px solid red; */
}
/* 
.my-card {
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
  border: 1px solid red;
}

.my-card:hover {
  padding: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) !important;
}

.my-card-img {
  display: block;
  width: 100%;
  flex: 1;
}

.my-card-title h4 {
  font-size: 1.5rem;
  color: #eea12d;
}

.my-card-content p {
  font-size: 1.2rem;
  color: #4f7139;
  padding-bottom: 20px;
}

.my-card-content button {
  cursor: pointer;
  width: 100%;
  display: block;
  background: #4f7139;
}

.my-card-content button:hover {
  background: #eea12d;
} */

.my-card {
  cursor: pointer;
  padding: 10px;
  /* margin: 50px; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 20px !important;
}

.my-card:hover {
  padding: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5) !important;
}

.my-card-img {
  display: block;
  width: 100%;
  margin-bottom: 20px !important;
}

.my-card-title h4 {
  font-size: 1.5rem;
  color: #eea12d;
}

.my-card-content p {
  font-size: 1.2rem;
  color: #4f7139;
  padding-bottom: 20px;
}

.my-card-content button {
  cursor: pointer;
  width: 100%;
  display: block;
  background: #4f7139;
}

.my-card-content button:hover {
  background: #eea12d;
}

/* The cart page */
.my-cart-card {
  display: flex;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5) !important;
  margin-bottom: 20px !important;
  justify-content: space-evenly;
  flex: 1 !important;
  margin: 20px 0 !important;
  background: #eea12d;
}

.my-cart-img {
  display: block;
  /* width: 50%; */
  height: 50px;
}
